In [1]:
from pyspark.sql import Row

In [13]:
total = sc.textFile('medallas').map(lambda x: x.split(",")).map(lambda x: Row(nombre=x[0],medallas=x[1],edad=int(x[2]))).collect()
df = sqlContext.createDataFrame(total)
sqlContext.registerDataFrameAsTable(df,'deportistas')
df.registerTempTable('deportistas')

In [17]:
medallistasEdad = sqlContext.sql("select count(medallas) as medallas, edad from deportistas group by edad")
medallistasEdad.show()

+--------+----+
|medallas|edad|
+--------+----+
|       1|  26|
|       1|  19|
|       3|  22|
|       1|  31|
|       1|  27|
|       1|  18|
|       2|  21|
|       3|  23|
|       3|  24|
+--------+----+

In [21]:
ranking = sqlContext.sql("Select nombre,count(medallas) as totalMedallas,medallas from deportistas group By nombre,medallas order By medallas,count(medallas) DESC")
ranking.show()

+--------------------+-------------+--------+
|              nombre|totalMedallas|medallas|
+--------------------+-------------+--------+
|       Andre Auffray|            1|  bronce|
|          Usain Bolt|            1|  bronce|
|Frederick Englehardt|            1|  bronce|
|         Edgar Adams|            1|  bronce|
|       Irving Baxter|            1|  bronce|
|       emile Fisseux|            2|     oro|
|     Robert Cloughen|            1|     oro|
|       Hermann Glass|            1|     oro|
|         Edgar Adams|            1|     oro|
|      Gaston Alibert|            1|     oro|
|          Usain Bolt|            1|     oro|
|      Michael Phepls|            1|   plata|
|       Andre Auffray|            1|   plata|
|     Robert Cloughen|            1|   plata|
|         Daria Pratt|            1|   plata|
+--------------------+-------------+--------+